.col-md-12{
    background-color: white;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
    padding: 1%;
}

.container{
    position: relative;
    background-color: rgb(241, 237, 237);
    padding: 2%;
  }

.table{
    width: 100%;
    color: black;
}

.table-container {
    position: relative;
    background-color: rgb(228, 220, 220);
    padding: 2%;
    overflow-x: auto;
}

.container-fluid{
    position: relative;
    background-color: rgb(228, 220, 220);
    padding: 2%;
  }

p {
    color: black;
    padding: 1.2%;
}

.dropdown{
    padding: 2%;
}

img {
    padding: 2%;
    border-radius: 30px;
}

li {
    color: black;
}
